body {
    font-family: 'Poppins';
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	height: auto;
	
	
}
.body {
	width: px;
	background: white;
	height: auto;
	
}
header {

position: fixed;
top: 0;
width: 100vw;
height: 60px;
/*display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 10px;*/

background: white;
}

.header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	justify-content: center;
	padding: 0px 30px;
	
}
.nav  {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 20px;
	color: black;
}
.logo {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0px;
	
	
}
.nav div {
	width: 100px;
	height: 60px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;

}

.hato_menu:hover {
	background-color: #0D6EFD;
	color: white;
}

.hatomerpati {


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 80px;
/* or 86% */

letter-spacing: -0.015em;

color: white;
}



.hero {
	display: grid;
	grid-template-columns: 1fr 1fr ;
	gap: 30px;
	background-color: #37517E;
	align-content: center;
	
	height: 700px;

}

img {
    margin: 100px 100px;
}

.desc {



margin-top: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.5em;

/* or 143% */

letter-spacing: -0.015em;

color: #FFFFFF99;

	
}

.new {
    display: flex;
    flex-direction: row;
}


.hero_desc {
	width: 600px;
	display: grid;
	grid-template-rows: 1fr auto auto 1fr;

	gap: 15px;
	margin-bottom: 30px;
	margin-left: 60px;
	
	

}

.section23 {
    background: white;
	height:300px;
  
}

.content21  {
    justify-content: center;
	display: flex;
    flex-direction: row;  
    margin: 20px 30px;
}

.content{
	background: #F3F5FA;

	height: auto;
	padding: 30px;

}

.desc2 {
	display: grid;
	grid-template-rows: auto 1fr 1fr;
	gap: 30px;
	margin: 50px 30px;

}

.title2 {
	width: 500px;
height: 144px;

color: #37517E;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1rem;


letter-spacing: -0.015em;



}

.desc_title {
	font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 1.2rem;
text-align: center;

letter-spacing: -0.015em;

color: #37517E;

}


.collumn {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

.text_desc {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 0.9rem;
	width: auto;
	color: 37517E;
}

button {
	background: #47B2E4;

	width: 120px;
	height: 30px;
	border-radius: 35px;
	border-color:none;
	color: #FEFCC6;
	font-family: 'Poppins';
	font-weight: 400;
   
    border: none;

}

input {
    width: 500px;
	height: 30px;
	border-radius: 35px;
	border-color:none;
	color: #FEFCC6;
	font-family: 'Poppins';
	font-weight: 400;
   
    border: none;
}

.video {
    margin-left: 100px;
    color: white;
}

.content2{
	background: #FEFCC6;
	height: 700px;
	padding: 30px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;
	align-content: center;
	

}

.quotes {
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	color: #37517E;
    text-align: justify;
    margin: 20px 30px;
    
    


}

.p {
    font-size: 14px;
    color: gray;
    font-weight: 400;
    text-align: justify;
    
}
.quot_desc {
	margin: 30px 30px;

	width: 300px;
	font-size: 1.2rem;
	color: #C6453F;
}

footer {
	color: white;
	background: #37517E;
	height: 100px;
	display: flex;
	padding: 0 120px;
	justify-content: space-between;
	align-items: center;
	

}

footer p{
	line-height: 30px
}

.flex {
	grid-template-columns: auto auto auto auto;
	margin: 0;
}

.flex img {
	margin: 0;
}

a:link,a:visited {
	font-style: none;
	text-decoration: none;
	color: black;
}
